
.blobTop-quiz{
    position: absolute;
    right: 0;
    width: 200px;
  }
  .blobBottom-quiz{
    position: relative;
    margin-top: 400px;
    bottom: 0;
    width: 200px;
  }
.question-box{
    padding-top: 0.7em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 
    
}
.flex{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin: 0.48em 0em;
}
.flex button{
    padding: 6px 29px;
    border-radius: 10px;
    outline: none;
    border:none;
    background-color: transparent;
    border: 2px solid #4D5B9E;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: #293264;
    cursor: pointer;
/* font-family: 'Karla', sans-serif; */
}
/* .flex button:active {
    background-color: #D6DBF5;
    border: 2px solid #D6DBF5;
    outline: none;
} */


.question{
    font-size: 0.5em;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}
.question-container{
    margin-bottom: 0.4em;
}
hr{
    background-color: #D6DBF5;
    height: 1.5px;
    border: none;
    width: 90%; 
}
.button{
    display: flex;
    justify-content: center;
}



.check{
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    background-color:#4D5B9E;
    color: #F5F7FB;
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    color: #F5F7FB;
    font-size: 1rem;
    cursor: pointer;
    padding: 1em 1.5em;
}
.check:active{
        transform: scale(1.009);
}

.flex .selected{
    background-color: #D6DBF5;
    border: 2px solid #D6DBF5;
    outline: none;;
}

.disabled{
    cursor:default;
    opacity: 0.55;
}
.flex .correct-answer{
    background-color: #94D7A2;
    border: 1px solid transparent;
    opacity: 1;

}
.flex .wrong-answer{
    background-color:#F8BCBC;
    border: 1px solid transparent;
    /* opacity: 1; */
}
.grey{
    opacity: 0.5;
}

.hide{
    display: none;
}

.result {
    margin-top: 0.7em;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}
#result-text{
    font-size: 1.7rem;
    font-weight: 700;
}

